<div class="page-banner" style="padding:40px 0; background: url(assets/images/slide-02-bg.jpg) center #f9f9f9;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Services</h2>
        <p>We Are Professional</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a routerLink="/">Home</a></li>
          <li>Services</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<label for="username">Username</label>
<input type="text" id="username" #username>
<label for="email">E-Mail</label>
<input type="text" id="email" #email>
<button (click)="onSubmit(username.value, email.value)">Submit</button>
<hr>
<button (click)="onGetData()">Get Data</button>
<ul>
  <li *ngFor="let item of items">{{item.username}}</li>
</ul>
<hr>
<p>{{asyncString | async}}</p>

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="row">
        <div class="col-xs-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorem, ab ut, sed nisi, nihil totam veniam dignissimos maxime modi eum ex, tenetur aspernatur. Expedita, excepturi beatae aut explicabo. Ducimus?</p>
          <p>Doloribus recusandae quibusdam delectus. Nam ullam nostrum culpa fugiat quia sit, et sequi neque fugit ratione dolor accusantium harum odio quibusdam minima sed rerum vero eum sint numquam voluptatem animi.</p>
          <p>Dicta quisquam laboriosam at et accusantium blanditiis asperiores laborum dolores officia, itaque voluptatibus illum est ipsum reiciendis iste porro numquam nemo? Id iure non explicabo reiciendis, quia nisi, est inventore!</p>
          <p>Cum alias ut a praesentium placeat iusto, fugit distinctio quasi unde fugiat doloremque, aspernatur ab sint ex impedit id dolorum quos reprehenderit, quaerat neque incidunt nihil amet facere dolorem beatae.</p>
        </div>
      </div>
      <!-- Divider -->
      <div class="hr1" style="margin-bottom:50px;"></div>
    </div>
  </div>
</div>
<!-- End content -->