<div class="page-banner" style="padding:40px 0; background: url(assets/images/slide-02-bg.jpg) center #f9f9f9;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Lorem Ipsum</h2>
        <p>Single Project Subtitle</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/heroes">Home</a></li>
          <li>Lorem Ipsum</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="project-page row">
      
    </div>
  </div>
</div>