<div class="page-banner" style="padding:40px 0; background: url(assets/images/slide-02-bg.jpg) center #f9f9f9;">
  <div class="container" *ngIf="hero">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ hero.name }}</h2>
        <p>Single Project Subtitle</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/heroes">Heros</a></li>
          <li>{{ hero.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <h2>HEROES</h2>
  <div *ngIf="hero">
    <h3>"{{ hero.name }}"</h3>
    <div>
      <label>Id: </label>{{ hero.id }}</div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </div>
    <p>
      <button>Back</button>
    </p>
  </div> -->
<div id="content" *ngIf="hero">
  <div class="container">
    <div class="project-page row">
      <div class="project-media col-md-8">
        <img src="assets/images/portfolio-1/1.jpg" alt="">
      </div>

      <div class="project-content col-md-4">
        <h4><span>Project Description</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed facilisis purus. Donec interdum massa at ipsum vehicula tristique. Maecenas bibendum dictum tincidunt. Sed nec justo ac libero consequat tincidunt. Cras eget molestie justo.</p>
        <h4><span>Project Details</span></h4>
        <ul>
          <li><strong>Client:</strong> GrayGrids</li>
          <li><strong>Status:</strong> Finish on 30 Dec, 2013</li>
          <li><strong>Skills:</strong> creative, web design</li>
        </ul>
        <div class="post-share">
          <span>Share This:</span>
          <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
          <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>